<div class='text-field'
     [class._true]="text">
  <div *ngIf="!text" class="text-field__block"></div>
  <span *ngIf="text" class="text-field__label">{{label}}</span>
  <div class="text-field__text">
    <div class="text-field__text-area">
      <div *ngIf="hasIcon"
           class="text-field__text-icon"
           [class._man]="nameIcon === 'man'">
        <svg-icon [src]="srcIcon"></svg-icon>
      </div>
      <h4 *ngIf="text">{{text}}</h4>
      <h4 class="text-field__placeholder"
          *ngIf="!text">{{label}}</h4>
    </div>
    <span
      *ngIf="!text"
      class='text-field__arrow-wrapper'
      [class._rotate]='isOpened'>
      <svg-icon
        class='text-field__icon icon'
        src='assets/icons/arrow.svg'
      ></svg-icon>
    </span>
    <svg-icon
      *ngIf="text && hasIcon"
      class="text-field__cross"
      (click)="deleteText()"
      src='assets/icons/cross.svg'>
    </svg-icon>

  </div>

</div>
