<div class="filter-setting">
  <h4 class="filter-setting-data">{{taskData.length}} сессии</h4>
  <div class="filter-setting-filter">
    <svg-icon
      class="filter-setting-filter-svg"
      src="assets/icons/setting.svg"></svg-icon>
    <h4 class="filter-setting-text">Настроить фильтр</h4>
  </div>
  <div class="filter-setting-delete">
    <svg-icon
      class="filter-setting-delete-svg"
      src="assets/icons/cross.svg"></svg-icon>
    <h4 class="filter-setting-text">Сбросить</h4>
  </div>
</div>
