<div class="filter">
  <div class="filter__search">
    <svg-icon
      class="filter__input-icon"
      src="assets/icons/lens.svg">
    </svg-icon>
    <input class="filter__input"
           placeholder="Поиск"
           type="text"
           (change)="changeValue($event)">
  </div>
  <div class="filter__desktop">
    <b-selector
      placeholderSelector="Выберите одну"
      [hasIcon]="true"
      titleSelector="Програма"
      [itemList]="eventsData">
    </b-selector>
    <b-selector
      placeholderSelector="Период"
      titleSelector="Период"
      [hasIcon]="true"
      [itemList]="eventsData">
    </b-selector>
    <b-selector
      placeholderSelector="Статус"
      titleSelector="Статус"
      [hasIcon]="true"
      [itemList]="eventsData">
    </b-selector>
  </div>
  <div class="filter__mobile">
    <b-selector
      placeholderSelector="Сортровка"
      titleSelector="Сортровка"
      [hasIcon]="true"
      [itemList]="eventsData">
    </b-selector>
  </div>
</div>
