@import './../../../assets/style/shared';

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 744px;
  margin-bottom: 36px;
  @media @mobile {
    width: 100%;
    flex-direction: column;

  }

  &__desktop {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media @mobile {
      display: none;
    }
  }

  &__mobile {
    display: none;
    @media @mobile {
      display: block;
    }
  }
}
