@import './../../../assets/style/shared';

.selector {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 40px;

  &__title {
    position: absolute;
    top: 0;
    margin-left: 31px;
    color: @color-grey-middle;

  }

  &__input {
    padding-left: 31px;
    width: 100%;
    padding-bottom: 6px;
    background-color: @color-white;
    border: none;
    border-bottom: 2px solid @color-grey-middle-first;
    cursor: pointer;
    outline: none;

    &._delete {
      padding-left: 0;
    }

    &::placeholder {

      font-size: 12px;
      line-height: 16px;
      color: @color-grey-placeholder;
    }

    &-men {
      content: "";
      width: 18px;
      height: 18px;
      background-color: @color-grey-middle-first;
      border-radius: 90%;
      position: absolute;
      left: 0;
      top: -3px;
    }

    @media @mobile {
      width: 322px;
    }

    &-container {
      display: flex;
      position: relative;
      align-items: center;
      text-align: center;
    }
    &-cross{
      content: "";
      position: absolute;
      cursor: pointer;
      right: 0;
      top: 0;
    }
    &-arrow {
      content: "";

      &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 3px;
        width: 12px;
        height: 12px;
        cursor: pointer;
        border-radius: 50%;
        transform: rotate(180deg);

        &._rotate {
          transform: rotate(0deg);
        }
      }
    }
  }

  &__input:focus {
    border-bottom: 2px solid @color-blue;
  }

  &__list {
    position: absolute;
    top: 40px;
    z-index: 1;
    background-color: @color-white;
    max-height: 232px;
    width: 200px;
    margin-top: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding-top: 12px;
    overflow: auto;

    &-item {
      display: flex;
      align-items: center;
      padding: 12px 0 12px 24px;
      cursor: pointer;

      &._checked {
        color: @color-blue;
      }

      &:hover {
        color: @color-blue-deep-dark;
      }

      &:hover {
        color: @color-blue-deep-dark;
        background-color: @color-blue-light;
      }

      &:first-child {
        border: none;
      }
    }

    &-text {
      margin: 0;
    }

    &-alert {
      color: @color-grey-middle;
      padding-top: 10px;
      margin-bottom: 16px;
      font-weight: bold;

      &._invisible {
        font-size: 0;
      }
    }
  }

  &__notification {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

    &-button {
      padding-bottom: 15px;
    }
  }
}
