@import "../assets/style/shared";
@import "../assets/style/common";

.app {
  display: flex;
  flex-direction: column;
  margin: 26px 26px;
  &__blur{
    //filter: blur(10px);
  }

  &__container {
    //filter: blur(10px);
    margin: 0 37px;
  }
}

