@import './../../../assets/style/shared';

.people-list {
  &__dot{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: rgba(0, 0, 0, 0.05);
    &-svg{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 9.5px;
      width: 12.9px;
    }
  }
  &__all {
    margin-left: 8px;

    &-container {
      width: 100%;
      padding: 10px 8px;
      margin-left: -8px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      &:hover {
        background: @color-grey-light;
      }
    }
  }


  &__list {
    width: 100%;
    cursor: pointer;
    padding: 10px 8px;
    margin-left: -8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &:hover {
      background: @color-grey-light;
    }
  }
}
