@import './../../../assets/style/shared';
.header{
  display: flex;
  justify-content: space-between;
  margin: 24px;
  align-items: center;
  height: 64px;
  &-burger{
    height: 100%;
  }
  &-schedule{
    color: @color-blue;
  }
}
