<div class="task">
  <div class="task__navigation">
    <b-text-field
      class="task__navigation-group"
      [hasUnderLine]="isGroupList"
      text="Групповое"
      (click)="switchToGroup()">
    </b-text-field>
    <b-text-field
      class="task__navigation-individual"
      [hasUnderLine]="!isGroupList"
      text="Индивидуальное"
      (click)="switchToIndividual()">
    </b-text-field>
  </div>
  <div class="task__horizon-line"></div>
  <b-filter></b-filter>
  <b-filter-setting [taskData]="taskData"></b-filter-setting>
  <div class="task__title">
    <span class="task__title-data">Дата начала</span>
    <span class="task__title-name">Название</span>
    <span class="task__title-members__desktop">Участников</span>
    <span class="task__title-members__mobile">Уч.</span>
    <span class="task__title-coach">Тренер</span>
    <span class="task__title-progress">Прогресс</span>
  </div>
  <div *ngFor="let task of taskData">
    <div class="task__list">
      <div class="task__list-data">
        <div class="task__list-time">
          <h4 class="task__list-day">
            {{task.training[typeOfLessons].date.day}}</h4>
          <h4 class="task__list-month">
            {{task.training[typeOfLessons].date.month}},</h4>
        </div>
        <div class="task__list-time">
          <h4>{{task.training[typeOfLessons].time.hour}}:</h4>
          <h4>{{task.training[typeOfLessons].time.minute}}</h4>
        </div>
      </div>
      <h4 class="task__list-name">
        {{task.name}}
      </h4>
      <h4 class="task__list-members">
        {{task.members.length}}
      </h4>
      <h4 class="task__list-coach">
        {{task.training[typeOfLessons].coach}}
      </h4>
      <div class="task__list-progress">
        <svg-icon src="assets/icons/progress.svg"></svg-icon>
        <h4 class="task__list-progress__text">
          {{progress}}
        </h4>
        <div class="task__list-setting__icon">
          <svg-icon src="assets/icons/triplet.svg"></svg-icon>
        </div>
      </div>
    </div>
  </div>
</div>
