@import './../../../assets/style/shared';

.nav-information {
  margin-bottom: 42px;
  @media @mobile {
    display: none;
  }

  &__path {
    color: @color-grey-middle;
  }

  &__billboard {
    display: flex;
    align-items: center;
    margin-top: 26px;

    &-text {
      .font-bold();
    }

    &-svg {
      margin-right: 18px;
    }
  }

}
