@import './../../../assets/style/shared';
.form-basic{
  &__date{

    margin-top: 34px;
    margin-bottom: 34px;
    &-time{
      display: flex;
      align-items: flex-end;
      margin-left: 16px;
      margin-right: 16px;
      width: 120px;

    }
  }
}
