@import './../../../assets/style/shared';

.form-basic {

  &__title {
    margin-top: 52px;
  }

  &__date {
    margin-top: 26px;
    margin-bottom: 34px;

    &-time {
      display: flex;
      align-items: flex-end;
      margin-left: 16px;
      margin-right: 16px;
      width: 120px;
    }
  }
}
