<div class="form-task">
  <div class="form-task__title">
    <h2 class="form-task__title-header">Планирование</h2>
    <div class="form-task__title-buttons">
      <svg-icon class="form-task__title-tick"
                src="assets/icons/tick.svg"
                (click)="saveBasicInformation()">
      </svg-icon>
      <div class="form-task__title-cross"
           (click)="closePopup()">
        <svg-icon src="assets/icons/cross.svg"></svg-icon>
      </div>
    </div>
  </div>
  <div class="form-task__title-panel">
    <b-text-field [hasUnderLine]="isBasic"
                  class="form-task__title-nav"
                  text="Основное"
                  (click)="openBasicForm()"
    ></b-text-field>
    <b-text-field [hasUnderLine]="!isBasic"
                  class="form-task__title-nav"
                  text="Участники"
                  (click)="openMemberForm()"
    ></b-text-field>
  </div>
  <div class="form-task__horizon-line"></div>
  <b-form-basic [switchForm]="isBasic"
  ></b-form-basic>
</div>
